$black: #110101;
$red: #F62D2D; 
$yellow: #DEFA28; 
$green: #28FA2F;


@mixin margenes ($stop, $bottom)
{
	margin-top: $stop;
	margin-botton: $bottom;
}

.jumbotron
{

	background-color: #722222;
	color: black;
	margin-top: 50px;

}

.footer
{
	padding: 10px 10px 0 10px;
	background-color: #722222;
	margin-bottom: 0px;

}

.btn
{
	width : 100%;
}

.breadcrumb
{
	margin-top: 50px
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen
{
	width:25%;
}

.imagen2
{
	width:50%;
}

.boton
{
	margin-bottom: 20px; 
} 